<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Profile</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">

</head>
<body>

<div class="profile-container">

    <div class="card">

        <img 
        src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
        class="profile-img">

        <h1>{{ username }}</h1>

        <p class="email">
            {{ username }}@gmail.com
        </p>

        <div class="info">

            <div class="box">
                <h3>Status</h3>
                <p>Online</p>
            </div>

            <div class="box">
                <h3>AI Plan</h3>
                <p>Free</p>
            </div>

        </div>

        <div class="buttons">

            <a href="/chatbot" class="chat-btn">
                Chat
            </a>

            <a href="/logout" class="logout-btn">
                Logout
            </a>

        </div>

    </div>

</div>

</body>
</html>